@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100;200;300;400;500;600;700&family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.menu {
  @apply uppercase font-body py-2 pr-8 tracking-widest text-right;
}

.btndate {
  @apply pt-1 pb-2 px-3 border-wodGray bg-wodGray rounded font-body tracking-widest shadow-md;
}

.btn {
  @apply pt-1 pb-2 px-3 uppercase active:bg-wodDarkYellow bg-wodYellow rounded font-body tracking-widest shadow-md;
}

.box {
  @apply border border-wodDarkGray bg-wodGray rounded mx-auto;
  width: 350px;
  height: 350px;
}

.knob-box {
  height: 55vh;
}
