@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100;200;300;400;500;600;700&family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.menu {
  @apply uppercase font-body py-2 pr-8 tracking-widest text-right;
}

.btndate {
  @apply pt-1 pb-2 px-3 bg-wodYellow border border-wodDarkGray rounded font-body tracking-widest text-wodBlack shadow-md;
}

.btn {
  @apply pt-1 pb-2 px-3 uppercase border border-wodDarkGray rounded font-body tracking-widest text-wodBlack shadow-md;
  width: 85px;
}

.box {
  @apply border border-wodDarkGray bg-wodGray rounded mx-auto;
  width: 350px;
  height: 350px;
}

.boxWod {
  @apply h-auto w-11/12 border border-wodDarkGray rounded mx-auto py-2;
  width: 350px;
}

.boxLog {
  @apply border border-wodDarkGray bg-wodGray rounded mx-auto;
  width: 350px;
}

.boxAlert {
  @apply flex p-1 my-5 mx-8 justify-center bg-wodYellow border rounded border-wodDarkGray absolute inset-x-0 z-10;
}

.textWod {
  @apply font-body text-wodBlack;
}

.textWodLight {
  @apply font-body text-wodBlackLight;
}

.textWodBlue {
  @apply font-body text-wodBlue tracking-wide;
}

.textWodAlert {
  @apply font-body text-wodRed tracking-wide;
}
