# dependencies
client/node_modules
client/.pnp
client/.pnp.js
server/node_modules

# testing
client/coverage

# production
client/build

# misc
client/.DS_Store
client/.env
server/.env

client/npm-debug.log*
client/clientyarn-debug.log*
client/yarn-error.log*
